body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body{

    background-color: rgb(187, 139, 67);
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-family: fantasy;
    text-align: center;
}

@keyframes p {
0% {
    background-color: rgb(212, 172, 41);
}
50% {
    background-color: aqua;
}
100%{
    background-color: rgb(45,99,99);
}
}

table{
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid aqua;
    padding: 10px;
    text-align: center;
}
  
div{
    text-align: center;
}

fieldset{
    background-color: rgb(68, 201, 201);
    text-align: center;
    border: 20px solid rgb(45, 99, 99);
}

h1{
    color: darkslategray;
}

img{
border: 10px solid rgb(45, 99, 99);
}

ul{
    list-style-position: inside;
}
/*
nav{
    border: .5in;
    color: darkgrey;
}
*/